doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title Mon site PUG

    body
        header
            include ../menu
            +menu(menuItems)

        main
            block content

        footer
            include ../footer

        block scripts